<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도앱</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <div  class="button-container">
        <button onclick="getCurrentLocation()">현재 위치 찾기</button>
        <div id="location-info"></div>
    </div>

    <div id="map"></div>

    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=키값&callback=initMap" async defer></script>
</body>
</html>